.container {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    padding-top: var(--spacing-100);
    padding-bottom:  var(--spacing-100);
}

.icon {
    width: var(--spacing-250);
    height: var(--spacing-250);
    color: var(--color-icon-primary);
}

.text {
    flex-grow: 1;
    color: var(--color-text-primary);
    font: var(--text-preset4);
}
