.menuContainer {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    padding-top: var(--spacing-100);
    padding-bottom:  var(--spacing-100);
}

.icon {
    width: var(--spacing-250);
    height: var(--spacing-250);
    color: var(--color-icon-primary);
}

.text {
    flex-grow: 1;
    color: var(--color-text-primary);
    font: var(--text-preset4);
}

@media (width >= 64rem) {
    .menuContainer {
        border-radius: var(--radius-6);
        padding: var(--spacing-100);
    }

    .menuContainerActive {
        background-color: var(--color-bg-secondary);
        color: var(--color-text-accent);
    }
}