
.backButton {
    display: flex;
    align-items: center;
    gap: var(--spacing-050);
    color: var(--color-text-secondary);
    font: var(--text-preset4);
    letter-spacing: var(--letter-spacing-preset4);
}

.backIcon {
    width: var(--spacing-225);
    height: var(--spacing-225);
}
