.button {
    display: flex;
    align-items: center;
    gap: var(--spacing-100);
    padding: var(--spacing-150) var(--spacing-200);
    border-radius: var(--radius-8);
    font: var(--text-sans-serif-preset4);
    letter-spacing: var(--letter-spacing-preset4);
}

.button:disabled {
    pointer-events: none;
    box-shadow: none;
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-300);
}

.buttonPrimary {
    background-color: var(--clr-blue-500);
    color: var(--clr-neutral-0);
    transition: background-color 450ms;
}

.buttonPrimary:hover {
    background-color: var(--clr-blue-700);
    transition: background-color 125ms;
}

.buttonPrimary:focus {
    outline: var(--spacing-025) solid var(--clr-neutral-400);
    outline-offset: var(--spacing-025);
}

.buttonSecondary {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-600);
    transition: background-color 450ms, box-shadow 450ms;
}

.buttonSecondary:hover {
    background-color: var(--clr-neutral-0);
    color: var(--clr-neutral-950);
    box-shadow: 0 0 0 1px var(--clr-neutral-300) inset;
    transition: background-color 125ms, box-shadow 125ms;
}

.buttonOutlined {
    background-color: var(--clr-neutral-0);
    color: var(--clr-neutral-950);
    box-shadow: 0 0 0 1px var(--clr-neutral-300) inset;
    transition: background-color 450ms, box-shadow 450ms;
}

.buttonOutlined:hover {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-600);
    box-shadow: none;
    transition: background-color 125ms, box-shadow 125ms;
}

.buttonSecondary:focus,
.buttonOutlined:focus {
    background-color: var(--clr-neutral-0);
    color: var(--clr-neutral-950);
    box-shadow: 0 0 0 1px var(--clr-neutral-950) inset;
    outline: var(--spacing-025) solid var(--clr-neutral-400);
    outline-offset: var(--spacing-025);
}

.buttonGhost {
    gap: var(--spacing-050);
    color: var(--clr-neutral-600);
    padding: 0;
}

.leftIcon {
    width: var(--spacing-250);
    height: var(--spacing-250);
    transition: color 125ms;
}

.iconGhost {
    width: var(--spacing-225);
    height: var(--spacing-225);
}

.buttonGhostBlue {
    color: var(--clr-blue-500);
}

.buttonDanger {
    background-color: var(--clr-red-500);
}

.buttonBlue {
    background-color: var(--clr-blue-500);
}

button:hover .leftIcon {
    transition: color 450ms;
}
