.FAB {
    position: fixed;
    right: 1rem;

    /* 57px - navbar size */
    bottom: calc(57px + 1rem);
    background-color: var(--clr-blue-500);
    border-radius: var(--radius-full);
    box-shadow: 0 7px 11px 0 rgb(202 207 216 / 70%);
}

.FABsmall {
    padding: var(--spacing-100);
    width: var(--spacing-600);
    height: var(--spacing-600);
}

.FABlarge {
    padding: var(--spacing-200);
    width: var(--spacing-800);
    height: var(--spacing-800);
}

.icon {
    color: var(--clr-neutral-0);
    width: var(--spacing-400);
    height: var(--spacing-400);
}
