.FAB {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 1rem;

    /* 57px - navbar size */
    bottom: calc(57px + 1rem);
    background-color: var(--color-accent-primary);
    border-radius: var(--radius-full);
    box-shadow: var(--shadow-floating-button);
}

.FABsmall {
    padding: var(--spacing-100);
}

.FABlarge {
    padding: var(--spacing-200);
}

.icon {
    color: var(--color-icon-inverted);
    width: var(--spacing-400);
    height: var(--spacing-400);
}
