.notesTitle {
    font: var(--text-preset1);
    letter-spacing: var(--letter-spacing-preset1);
    padding-bottom: var(--spacing-200);
}

.description {
    padding-bottom: var(--spacing-200);
    font: var(--text-preset4);
    color: var(--color-text-secondary);
}

.divider:not(:last-of-type) {
    height: 1px;
    background-color: var(--color-border);
    margin-bottom: var(--spacing-050);
}

@media (width >= 64rem) {
    .notesContainer {
        max-width: 16rem;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-200);
        height: 100%;
        box-sizing: border-box;
        flex: 1 0;
        padding: var(--spacing-250) var(--spacing-200);
        border-right: 1px solid var(--color-border);
    }

    .notesTitle {
        display: none;
    }

    .description {
        padding-bottom: 0;
    }

    .noteList {
        overflow: hidden auto;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-050);
    }
}
