.notesTitle {
    font: var(--text-preset1);
    letter-spacing: var(--letter-spacing-preset1);
    padding-bottom: var(--spacing-200);
}

.description {
    padding-bottom: var(--spacing-200);
    font: var(--text-preset4);
    color: var(--color-text-secondary);
}

.divider:not(:last-of-type) {
    height: 1px;
    background-color: var(--color-border);
    margin-bottom: var(--spacing-050);
}

@media (width >= 64rem) {
    .notesContainer {
        max-width: 18.125rem;
        height: 100%;
        box-sizing: border-box;
        flex: 1 0;
        padding: var(--spacing-250) var(--spacing-200) var(--spacing-250) var(--spacing-400);
        border-right: 1px solid var(--color-border);
    }

    .notesTitle {
        display: none;
    }
}