.iconButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: var(--spacing-050) 0;
    border-radius: var(--radius-4);
    color: var(--color-icon-secondary);
}

.iconButtonActive {
    background-color: var(--color-bg-accent);
    color: var(--color-icon-accent);
}

.text {
    display: none;
    color: var(--color-text-secondary);
    font: var(--text-preset6);
    letter-spacing: var(--letter-spacing-preset6);
}

.iconButtonActive .text {
    color: var(--color-text-accent);
}

@media (width >= 48rem) {
    .iconButton {
        gap: var(--spacing-050);
    }

    .text {
        display: inline-block;
    }
}
