.divider:not(:last-of-type) {
    height: 1px;
    background-color: var(--color-border);
}

@media (width >= 64rem) {
    .noteCardActive {
        background-color: var(--color-bg-secondary);
        border-radius: var(--radius-6);
    }
}
