.title {
    font: var(--text-preset1);
    letter-spacing: var(--letter-spacing-preset1);
    margin-top: var(--spacing-050);
    margin-bottom: var(--spacing-200);
    color: var(--color-text-secondary);
}

.tag {
    color: var(--color-text-primary);
}

.description {
    padding-bottom: var(--spacing-200);
    font: var(--text-preset4);
    color: var(--color-text-secondary);
}
