.layout {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--clr-neutral-100);
}

.content {
    position: relative;
    background-color: var(--clr-neutral-0);
    flex-grow: 1;
    padding: var(--spacing-100) var(--spacing-200) var(--spacing-250) var(--spacing-200);
    border-top-left-radius: var(--radius-12);
    border-top-right-radius: var(--radius-12);
}

.scrollable {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow-y: scroll;
}

.fixed {
    flex: 0 0;
}
