.layout {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
}

.mainContent {
    background-color: var(--color-bg-primary);
    flex-grow: 1;
    padding: var(--spacing-250) var(--spacing-200);
    border-top-left-radius: var(--radius-12);
    border-top-right-radius: var(--radius-12);
}

.scrollable {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow-y: scroll;
}

.fixed {
    flex: 0 0;
}

@media (width >= 48rem) {
    .mainContent {
        padding: var(--spacing-300) var(--spacing-400);
    }
}
