.layout {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-secondary);
}

.mainContent {
    background-color: var(--color-bg-primary);
    flex-grow: 1;
    padding: var(--spacing-250) var(--spacing-200);
    border-top-left-radius: var(--radius-12);
    border-top-right-radius: var(--radius-12);
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    overflow-y: scroll;
}

.navigation {
    padding: var(--spacing-150) var(--spacing-200);
    background-color: var(--color-bg-primary);
    border-top: 1px solid var(--color-border);
    box-shadow: var(--shadow-small-top);
}

@media (width >= 48rem) {
    .mainContent {
        padding: var(--spacing-300) var(--spacing-400);
    }

    .navigation {
        padding: var(--spacing-150) var(--spacing-400);
    }
}

@media (width >= 64rem) {
    .layout {
        flex-direction: row-reverse;
        background-color: var(--color-bg-primary);
    }

    .navigation {
        flex: 1 0;
        border-right: 1px solid var(--color-border);
        overflow-y: scroll;
        flex-direction: column;
        padding: var(--spacing-150) var(--spacing-200);
        border-top: none;
        box-shadow: none;
    }

    .content {
        flex: 4 0;
    }
}