.title {
    font: var(--text-preset2);
    letter-spacing: var(--letter-spacing-preset2);
    margin-bottom: var(--spacing-075);
}

.textarea {
    width: 100%;
    padding: 0;
    border: none;
    resize: none;
    overflow: scroll;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}

.textarea:focus {
    border: none;
    outline: none;
}

.property {
    display: grid;
    row-gap: var(--spacing-050);
    grid-template-columns: auto 5.875rem 1fr;
    align-items: center;
    font: var(--text-preset6);
    padding-bottom: var(--spacing-150);
    border-bottom: 1px solid var(--color-border);
    margin-bottom: var(--spacing-150);
}

.propertyIcon {
    width: var(--spacing-200);
    height: var(--spacing-200);
    margin: var(--spacing-050) var(--spacing-075) var(--spacing-050) 0;
}

.propertyName {
    margin-right: var(--spacing-100);
}

.text {
    white-space: pre-line;
    padding-bottom: 30vh;
}

.title::placeholder,
.tags::placeholder,
.text::placeholder {
    color: var(--color-text-tertiary);
}

@media (width >= 48rem) {
    .navContainer {
        padding-top: var(--spacing-200);
        padding-bottom: var(--spacing-200);
    }
}
