.title {
    font: var(--text-sans-serif-preset1);
    margin-bottom: var(--spacing-150);
}

.title::placeholder {
    color: currentcolor;
}

.textarea {
    width: 100%;
    padding: 0;
    border: none;
    resize: none;
    overflow: scroll;
}

.textarea:focus {
    border: none;
    outline: none;
}

.property {
    display: grid;
    row-gap: var(--spacing-050);
    grid-template-columns: auto 5.875rem 1fr;
    align-items: center;
    font: var(--text-sans-serif-preset6);
    padding-bottom: var(--spacing-150);
    border-bottom: 1px solid var(--clr-neutral-200);
    margin-bottom: var(--spacing-150);
}

.propertyIcon {
    width: var(--spacing-200);
    height: var(--spacing-200);
    margin: var(--spacing-050) var(--spacing-075) var(--spacing-050) 0;
}

.propertyName {
    margin-right: var(--spacing-100);
}

.tags::placeholder {
    color: var(--clr-neutral-400);
}

.text {
    white-space: pre-line;
    padding-bottom: 30vh;
}

.text::placeholder {
    color: currentcolor;
}

@media (width >= 48rem) {
    .navContainer {
        padding-top: var(--spacing-200);
        padding-bottom: var(--spacing-200);
    }
}
