li {
    list-style: none;
}

.bottomNavbar {
    display: flex;
    flex: 0 0;
}

@media (width >= 48rem) {
    .navbar {
        padding: var(--spacing-150) var(--spacing-400);
    }
}

@media (width >= 64rem) {
    .logoContainer {
        display: inline-block;
        padding: var(--spacing-150) 0;
        margin-bottom: var(--spacing-200);
    }

    .divider {
        height: 1px;
        background-color: var(--color-border);
    }
}
