.textInput {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-075);
    align-items: flex-start;
}

.label {
    font: var(--text-sans-serif-preset4);
    letter-spacing: var(--letter-spacing-preset4);
}

.inputContainer {
    display: flex;
    gap: var(--spacing-100);
    min-width: 18.75rem;
    background-color: var(--clr-neutral-0);
    box-shadow: 0 0 0 1px var(--clr-neutral-300) inset;
    border-radius: var(--radius-8);
    padding: var(--spacing-150) var(--spacing-200);
    transition: background-color 450ms;
}

.leftIcon,
.rightIcon {
    color: var(--clr-neutral-500);
    width: var(--spacing-250);
    height: var(--spacing-250);
}

.input {
    flex-grow: 1;
    border: none;
    background-color: transparent;
}

.input::placeholder {
    font: var(--text-sans-serif-preset5);
    letter-spacing: var(--letter-spacing-preset5);
    color: var(--clr-neutral-500);
}

.hint {
    display: flex;
    gap: var(--spacing-100);
    align-items: center;
    color: var(--clr-neutral-600);
}

.hintIcon {
    width: var(--spacing-200);
    height: var(--spacing-200);
}

.hintText {
    font: var(--text-sans-serif-preset6);
    letter-spacing: var(--letter-spacing-preset6);
}

.inputContainer:hover {
    background-color: var(--clr-neutral-50);
    transition: background-color 125ms;
}

.inputContainer:focus-within {
    box-shadow: 0 0 0 1px var(--clr-neutral-950) inset;
    outline: var(--spacing-025) solid var(--clr-neutral-400);
    outline-offset: var(--spacing-025);
}

.input:focus {
    outline: none;
}

.textInput[disabled] {
    pointer-events: none;
    user-select: none;
}

.textInput[disabled] .inputContainer {
    background-color: var(--clr-neutral-50);
}

.textInput[disabled] .input::placeholder {
    color: var(--clr-neutral-300);
}

.textInput[disabled] .leftIcon {
    color: var(--clr-neutral-300);
}

.textInput[disabled] .rightIcon {
    color: var(--clr-neutral-300);
}

.textInput[disabled] .hint {
    color: var(--clr-neutral-300);
}
