.alert {
    font: var(--text-sans-serif-preset4);
    background-color: var(--color-bg-secondary);
    padding: var(--spacing-100);
    border-radius: var(--radius-8);
    border: 1px solid var(--color-border);
}
