.radioContainer {
    display: flex;
    align-items: center;
    gap: var(--spacing-200);
    padding: var(--spacing-200);
    border-radius: var(--radius-12);
    border: 1px solid var(--clr-neutral-200);
}

.iconContainer {
    display: flex;
    padding: var(--spacing-100);
    border-radius: var(--radius-12);
    border: 1px solid var(--clr-neutral-200);
    background-color: var(--clr-neutral-0);
}

.text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-075);
}

.label {
    font: var(--text-sans-serif-preset4);
    font-weight: 500;
}

.description {
    font: var(--text-sans-serif-preset6);
    color: var(--clr-neutral-700);
}

.radioInput {
    appearance: none;
    background: transparent;
    width: var(--spacing-200);
    height: var(--spacing-200);
    border: 2px solid var(--clr-neutral-200);
    border-radius: 50%;
}

.radioInput:checked {
    border: 4px solid var(--clr-blue-500);
}

.radioContainer:has(.radioInput:checked) {
    background-color: var(--clr-neutral-100);
}
