.card {
    margin-right: var(--spacing-200);
    margin-left: var(--spacing-200);
    padding: var(--spacing-250) var(--spacing-250) var(--spacing-200) var(--spacing-250);
    background-color: var(--color-modal-bg);
    border-radius: var(--radius-12);
    border: 2px solid var(--color-border-strong);
    box-sizing: border-box;
}

.card::backdrop {
    background-color: var(--color-bg-inverted);
    opacity: 0.5;
}

.top {
    display: flex;
    gap: var(--spacing-200);
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: var(--spacing-500);
    height: var(--spacing-500);
    background-color: var(--color-bg-tertiary);
    border-radius: var(--radius-8);
}

.icon {
    color: var(--color-icon-primary);
}

.title {
    font: var(--text-preset3);
    letter-spacing: var(--letter-spacing-preset3);
    color: var(--color-text-primary);
    padding-bottom: var(--spacing-075);
}

.text {
    font: var(--text-preset4);
    letter-spacing: var(--letter-spacing-preset4);
    color: var(--color-text-secondary);
    padding-bottom: var(--spacing-250);
}

.divider {
    height: 1px;
    background-color: var(--color-border-strong);
    margin-right: calc(var(--spacing-250) * -1);
    margin-left: calc(var(--spacing-250) * -1);
    margin-bottom: var(--spacing-200);
}

.buttonContainer {
    display: flex;
    gap: var(--spacing-200);
    justify-content: flex-end;
}