.navContainer {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: var(--spacing-150);
    background-color: var(--color-bg-primary);
}

.rightControl {
    display: flex;
    gap: var(--spacing-200);
}

@media (width >= 48rem) {
    .navContainer {
        padding-top: var(--spacing-200);
        padding-bottom: var(--spacing-200);
    }
}
