.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-100);
    padding: var(--spacing-150) var(--spacing-200);
    border-radius: var(--radius-8);
    font: var(--text-preset4);
    font-weight: 500;
    letter-spacing: var(--letter-spacing-preset4);
}

.buttonPrimary {
    background-color: var(--color-accent-primary);
    color: var(--color-text-inverted);
    transition: background-color 450ms;
}

.buttonPrimary:hover {
    background-color: var(--color-accent-primary-hover);
    transition: background-color 125ms;
}

.buttonPrimary:focus {
    outline: var(--spacing-025) solid var(--color-border-focus);
    outline-offset: var(--spacing-025);
}

.buttonSecondary {
    background-color: var(--color-bg-tertiary);
    color: var(--color-text-secondary);
    transition: background-color 450ms, box-shadow 450ms;
}

.buttonSecondary:hover {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    box-shadow: 0 0 0 1px var(--color-border-strong) inset;
    transition: background-color 125ms, box-shadow 125ms;
}

.iconButton {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    box-shadow: 0 0 0 1px var(--color-border-strong) inset;
    transition: background-color 450ms, box-shadow 450ms;
}

.iconButton:hover {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    box-shadow: none;
    transition: background-color 125ms, box-shadow 125ms;
}

.buttonSecondary:focus,
.iconButton:focus {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    box-shadow: 0 0 0 1px var(--color-border-strong-focus) inset;
    outline: var(--spacing-025) solid var(--color-border-focus);
    outline-offset: var(--spacing-025);
}

.buttonGhost {
    font-weight: 400;
    gap: var(--spacing-050);
    color: var(--color-text-secondary);
    padding: 0;
}

.buttonDanger {
    background-color: var(--color-accent-danger);
    color: var(--color-text-inverted);
}

.buttonDanger:hover {
    background-color: var(--color-accent-danger-hover);
}

.buttonDanger:focus {
    outline: var(--spacing-025) solid var(--color-border-focus);
    outline-offset: var(--spacing-025);
}

.leftIcon {
    width: var(--spacing-250);
    height: var(--spacing-250);
    transition: color 125ms;
}

.iconGhost {
    width: var(--spacing-225);
    height: var(--spacing-225);
}

.buttonAccentGhost {
    padding: 0;
    color: var(--color-text-accent);
}

button:hover .leftIcon {
    transition: color 450ms;
}
