.navContainer {
    display: flex;
    justify-content: space-between;
    padding-bottom: var(--spacing-150);
    border-bottom: 1px solid var(--clr-neutral-200);
    margin-bottom: var(--spacing-150);
}

.rightControl {
    display: flex;
    gap: var(--spacing-200);
}

@media (width >= 48rem) {
    .navContainer {
        padding-top: var(--spacing-200);
        padding-bottom: var(--spacing-200);
    }
}
