.navbar {
    display: flex;
    padding: var(--spacing-150) var(--spacing-200);
    background-color: var(--color-bg-primary);
    border-top: 1px solid var(--color-border);
    box-shadow: var(--shadow-small-top);
}

@media (width >= 48rem) {
    .navbar {
        padding: var(--spacing-150) var(--spacing-400);
    }
}
