.searchForm {
    display: flex;
    gap: var(--spacing-100);
    padding: var(--spacing-150) var(--spacing-200);
    margin-bottom: var(--spacing-200);
    border: 1px solid var(--clr-neutral-300);
    border-radius: var(--radius-8);
    background-color: var(--clr-neutral-50);
    justify-content: center;
    align-items: center;
}

.searchIcon {
    width: var(--spacing-250);
    height: var(--spacing-250);
    color: var(--clr-neutral-500);
}

.searchInput {
    flex-grow: 1;
    font: var(--text-sans-serif-preset4);
    border: none;
    outline: none;
    padding: 0;
    background-color: var(--clr-neutral-50);
}