.themeOptions {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    border: none;
    margin: 0;
    padding: 0;
    margin-bottom: var(--spacing-250);
}

.title {
    font: var(--text-preset1);
    letter-spacing: var(--letter-spacing-preset1);
    padding-top: var(--spacing-150);
    padding-bottom: var(--spacing-100);
}

.description {
    padding-bottom: var(--spacing-050);
    font: var(--text-preset4);
    color: var(--color-text-secondary);
}

@media (width >= 64rem) {
    .title {
        font: var(--text-preset3);
        letter-spacing: var(--letter-spacing-preset3);
        padding-top: 0;
    }
}