body {
    font: var(--text-sans-serif-preset5);
    letter-spacing: var(--letter-spacing-preset5);
    color: var(--color-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input {
    color: currentcolor;
    font-family: inherit;
}

button {
    background: none;
    padding: 0;
    cursor: pointer;
    border: none;
    font: inherit;
}
