:root {
    --clr-neutral-950: #0E121B;
    --clr-neutral-900: #191B25;
    --clr-neutral-800: #232530;
    --clr-neutral-700: #2B303B;
    --clr-neutral-600: #525866;
    --clr-neutral-500: #717784;
    --clr-neutral-400: #99A0AE;
    --clr-neutral-300: #CACFD8;
    --clr-neutral-200: #E0E4EA;
    --clr-neutral-100: #F3F5F8;
    --clr-neutral-50: #F5F7FA;
    --clr-neutral-0: #FFF;
    --clr-blue-700: #2547D0;
    --clr-blue-500: #335CFF;
    --clr-blue-50: #EBF1FF;
    --clr-green-500: #21C16B;
    --clr-green-100: #D1FBE9;
    --clr-red-500: #FB3748;
    --clr-red-100: #FFD5D8;
    --spacing-0: 0;
    --spacing-025: 0.125rem;
    --spacing-050: 0.25rem;
    --spacing-075: 0.375rem;
    --spacing-100: 0.5rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-250: 1.25rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-600: 3rem;
    --spacing-800: 4rem;
    --spacing-1000: 5rem;
    --radius-4: 0.25rem;
    --radius-6: 0.375rem;
    --radius-8: 0.5rem;
    --radius-10: 0.625rem;
    --radius-12: 0.75rem;
    --radius-16: 1rem;
    --radius-20: 1.25rem;
    --radius-24: 1.5rem;
    --radius-full: 63rem;
    --text-sans-serif-preset1: 700 1.5rem/120% 'Inter', sans-serif;
    --text-sans-serif-preset2: 700 1.25rem/120% 'Inter', sans-serif;
    --text-sans-serif-preset3: 600 1rem/120% 'Inter', sans-serif;
    --text-sans-serif-preset4: 500 0.875rem/120% 'Inter', sans-serif;
    --text-sans-serif-preset5: 400 0.875rem/120% 'Inter', sans-serif;
    --text-sans-serif-preset6: 400 0.75rem/120% 'Inter', sans-serif;
    --text-serif-preset1: 700 1.5rem/120% 'Noto Serif', serif;
    --text-serif-preset2: 700 1.25rem/120% 'Noto Serif', serif;
    --text-serif-preset3: 600 1rem/120% 'Noto Serif', serif;
    --text-serif-preset4: 500 0.875rem/120% 'Noto Serif', serif;
    --text-serif-preset5: 400 0.875rem/120% 'Noto Serif', serif;
    --text-serif-preset6: 400 0.75rem/120% 'Noto Serif', serif;
    --text-monospace-preset1: 700 1.5rem/120% 'Source Code Pro', monospace;
    --text-monospace-preset2: 700 1.25rem/120% 'Source Code Pro', monospace;
    --text-monospace-preset3: 600 1rem/120% 'Source Code Pro', monospace;
    --text-monospace-preset4: 500 0.875rem/120% 'Source Code Pro', monospace;
    --text-monospace-preset5: 400 0.875rem/120% 'Source Code Pro', monospace;
    --text-monospace-preset6: 400 0.75rem/120% 'Source Code Pro', monospace;
    --letter-spacing-preset1: -0.03rem;
    --letter-spacing-preset2: -0.03rem;
    --letter-spacing-preset3: -0.02rem;
    --letter-spacing-preset4: -0.01rem;
    --letter-spacing-preset5: -0.01rem;
    --letter-spacing-preset6: -0.01rem;
    --shadow-small: 0 0.25rem 0.375rem 0 rgb(240 240 240 / 60%);
    --shadow-large: 0 0.2rem 0.75rem 0 rgb(240 240 240 / 60%);
}
