.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
    padding: var(--spacing-100);
    margin-bottom: var(--spacing-050);
    border-radius: var(--radius-6);
}

.title {
    font: var(--text-sans-serif-preset3);
    letter-spacing: var(--letter-spacing-preset3);
}

.tagsWrapper {
    display: flex;
    gap: var(--spacing-050);
    flex-wrap: wrap;
}

.tag {
    padding: var(--spacing-025) var(--spacing-075);
    font: var(--text-sans-serif-preset6);
    letter-spacing: var(--letter-spacing-preset6);
    background-color: var(--color-bg-muted);
    color: var(--color-text-primary);
    border-radius: var(--radius-4);
}

.date {
    font: var(--text-sans-serif-preset6);
    letter-spacing: var(--letter-spacing-preset6);
    color: var(--color-text-secondary);
}