
.primaryLink {
    display: flex;
    align-items: center;
    gap: var(--spacing-050);
    color: var(--color-text-secondary);
    font: var(--text-preset4);
    letter-spacing: var(--letter-spacing-preset4);
}

.primaryLink:hover {
    color: var(--color-accent-primary-hover);
    text-decoration: underline;
}

.accentLink {
    color: var(--color-text-accent);
}
